Repository NuGet/NuGetGallery, pull requests merged in 2019-04, with the labels that each got.

#7038 Verify nuspec file size
  src/NuGetGallery/Services/PackageUploadService.cs
  tests/NuGetGallery.Core.Facts/TestUtils/TestPackage.cs
  tests/NuGetGallery.Facts/NuGetGallery.Facts.csproj
  tests/NuGetGallery.Facts/Services/CertificateValidatorFacts.cs
  tests/NuGetGallery.Facts/Services/PackageUploadServiceFacts.cs
  tests/NuGetGallery.Facts/TestData/TestDataResourceUtility.cs
  tests/NuGetGallery.Facts/TestData/theId.nuspec
Labels: Area: Data Integrity, Pillar: Security

#7042 Add index to UserSecurityPolicy
  src/NuGet.Services.Entities/UserSecurityPolicy.cs
  src/NuGetGallery.Core/Entities/EntitiesContext.cs
  src/NuGetGallery/Migrations/201904081230004_AddIndexToUserSecurityPolicy.Designer.cs
  src/NuGetGallery/Migrations/201904081230004_AddIndexToUserSecurityPolicy.cs
  src/NuGetGallery/Migrations/201904081230004_AddIndexToUserSecurityPolicy.resx
  src/NuGetGallery/NuGetGallery.csproj
Labels: Area: Data Integrity

#5656 Add tab for PackageReference
  src/Bootstrap/dist/css/bootstrap-theme.css
  src/Bootstrap/less/theme/page-display-package.less
  src/NuGetGallery/ViewModels/PackageManagerViewModel.cs
  src/NuGetGallery/ViewModels/ThirdPartyPackageManagerViewModel.cs
  src/NuGetGallery/Views/Packages/DisplayPackage.cshtml
Labels: Area: Gallery UI

#7099 Upgrade grunt devDependency from 1.0.3 to 1.0.4
  src/Bootstrap/package-lock.json
  src/Bootstrap/package.json
Labels: Pillar: Security

#7100 Remove package vulnerability info from package deprecation data model
  src/Bootstrap/dist/css/bootstrap-theme.css
  src/Bootstrap/less/theme/page-manage-deprecation.less
  src/NuGet.Services.Entities/Cve.cs
  src/NuGet.Services.Entities/CveStatus.cs
  src/NuGet.Services.Entities/Cwe.cs
  src/NuGet.Services.Entities/CweStatus.cs
  src/NuGet.Services.Entities/NuGet.Services.Entities.csproj
  src/NuGet.Services.Entities/PackageDeprecation.cs
  src/NuGet.Services.Entities/PackageDeprecationStatus.cs
  src/NuGetGallery.Core/Entities/EntitiesContext.cs
  src/NuGetGallery.Core/Entities/IEntitiesContext.cs
  src/NuGetGallery.Core/Services/CorePackageService.cs
  src/NuGetGallery/App_Start/DefaultDependenciesModule.cs
  src/NuGetGallery/Controllers/ManageDeprecationJsonApiController.cs
  src/NuGetGallery/Helpers/PackageHelper.cs
  src/NuGetGallery/Migrations/201904251233185_RemoveVulnerabilityDataFromPackageDeprecationModel.Designer.cs
  src/NuGetGallery/Migrations/201904251233185_RemoveVulnerabilityDataFromPackageDeprecationModel.cs
  src/NuGetGallery/Migrations/201904251233185_RemoveVulnerabilityDataFromPackageDeprecationModel.resx
  src/NuGetGallery/NuGetGallery.csproj
  src/NuGetGallery/Queries/AutocompleteCveIdQueryResult.cs
  src/NuGetGallery/Queries/AutocompleteCveIdQueryResults.cs
  src/NuGetGallery/Queries/AutocompleteCveIdsQuery.cs
  src/NuGetGallery/Queries/AutocompleteCweIdQueryResult.cs
  src/NuGetGallery/Queries/AutocompleteCweIdQueryResults.cs
  src/NuGetGallery/Queries/AutocompleteCweIdsQuery.cs
  src/NuGetGallery/Queries/CweIdHelper.cs
  src/NuGetGallery/Queries/CweQueryMethod.cs
  src/NuGetGallery/Queries/CweQueryStringValidator.cs
  src/NuGetGallery/Queries/IAutocompleteCveIdsQuery.cs
  src/NuGetGallery/Queries/IAutocompleteCweIdsQuery.cs
  src/NuGetGallery/Scripts/gallery/page-manage-deprecation.js
  src/NuGetGallery/Services/IPackageDeprecationService.cs
  src/NuGetGallery/Services/IVulnerabilityAutocompleteService.cs
  src/NuGetGallery/Services/PackageDeprecationService.cs
  src/NuGetGallery/Services/VulnerabilityAutocompleteService.cs
  src/NuGetGallery/Strings.Designer.cs
  src/NuGetGallery/Strings.resx
  src/NuGetGallery/ViewModels/DisplayPackageViewModel.cs
  src/NuGetGallery/ViewModels/ManagePackageViewModel.cs
  src/NuGetGallery/Views/Packages/DisplayPackage.cshtml
  src/NuGetGallery/Views/Packages/Manage.cshtml
  src/NuGetGallery/Views/Packages/_DisplayPackageDeprecation.cshtml
  src/NuGetGallery/Views/Packages/_ManageDeprecation.cshtml
  tests/NuGet.Services.Entities.Tests/PackageDeprecationStatusFacts.cs
  tests/NuGetGallery.Facts/Controllers/ManageDeprecationJsonApiControllerFacts.cs
  tests/NuGetGallery.Facts/Framework/UnitTestBindings.cs
  tests/NuGetGallery.Facts/Helpers/PackageHelperTests.cs
  tests/NuGetGallery.Facts/NuGetGallery.Facts.csproj
  tests/NuGetGallery.Facts/Queries/AutocompleteCveIdsQueryFacts.cs
  tests/NuGetGallery.Facts/Queries/AutocompleteCweIdsQueryFacts.cs
  tests/NuGetGallery.Facts/Queries/CweIdHelperFacts.cs
  tests/NuGetGallery.Facts/Queries/CweQueryStringValidatorFacts.cs
  tests/NuGetGallery.Facts/Services/PackageDeprecationServiceFacts.cs
  tests/NuGetGallery.Facts/TestUtils/FakeEntitiesContext.cs
  tests/NuGetGallery.Facts/ViewModels/DisplayPackageViewModelFacts.cs
Labels: Area: Data Integrity

#7106 Add support for package deprecation reason 'unusable'
  src/Bootstrap/dist/css/bootstrap-theme.css
  src/Bootstrap/less/theme/page-manage-deprecation.less
  src/NuGet.Services.Entities/PackageDeprecationStatus.cs
  src/NuGetGallery/Controllers/ManageDeprecationJsonApiController.cs
  src/NuGetGallery/Helpers/PackageHelper.cs
  src/NuGetGallery/Scripts/gallery/page-manage-deprecation.js
  src/NuGetGallery/ViewModels/ManagePackageViewModel.cs
  src/NuGetGallery/Views/Packages/DisplayPackage.cshtml
  src/NuGetGallery/Views/Packages/Manage.cshtml
  src/NuGetGallery/Views/Packages/_DisplayPackageDeprecation.cshtml
  src/NuGetGallery/Views/Packages/_ManageDeprecation.cshtml
  tests/NuGet.Services.Entities.Tests/PackageDeprecationStatusFacts.cs
  tests/NuGetGallery.Facts/Controllers/ManageDeprecationJsonApiControllerFacts.cs
  tests/NuGetGallery.Facts/Helpers/PackageHelperTests.cs
Labels: Area: Gallery UI

#7118 Add auditing for package (un)deprecate actions
  src/NuGetGallery.Core/Auditing/AuditedEntities/AuditedPackageDeprecation.cs
  src/NuGetGallery.Core/Auditing/AuditedPackageAction.cs
  src/NuGetGallery.Core/Auditing/PackageAuditReasons.cs
  src/NuGetGallery.Core/Auditing/PackageAuditRecord.cs
  src/NuGetGallery.Core/NuGetGallery.Core.csproj
  src/NuGetGallery/Controllers/ManageDeprecationJsonApiController.cs
  src/NuGetGallery/Services/IPackageDeprecationService.cs
  src/NuGetGallery/Services/PackageDeleteService.cs
  src/NuGetGallery/Services/PackageDeprecationService.cs
  tests/NuGetGallery.Core.Facts/Auditing/AuditedPackageActionTests.cs
  tests/NuGetGallery.Core.Facts/Auditing/CloudAuditingServiceTests.cs
  tests/NuGetGallery.Facts/Controllers/ManageDeprecationJsonApiControllerFacts.cs
  tests/NuGetGallery.Facts/Services/PackageDeprecationServiceFacts.cs
Labels: Area: Monitoring & Alerting
